/*estilos productos*/
.productos{
    font-size: 2rem;
    font-weight: bold;
    color: brown;
     height: 90vh;
      display: grid;
      justify-content: center;
      
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1f;
  
  
  .producto1{background-image: url(../img/bosque.jpg);
  
      
   
  } 
  .producto2{background-image: url(../img/lagomontañazip.jpg);
        
      }
  .producto3{background-image: url(../img/alerceszip.jpg);
             
      }
  .producto4{background-image:url(../img/trailgrupozip.jpg);
          
      }
    }
    